@use 'sass:color';

:root, .theme-root {
  &[theme=solarized-light] {
    --bg0: #FEF9ED;
    --bg1: #FEF9ED;
    --bg2: #fdf6e3;
    --bg3: #f4edda;

    --k-card-bg: var(--bg1);
    --k-main-bg: var(--bg1);
    --k-side-bg: var(--bg3);
    --k-page-bg: var(--bg3);
    --k-activity-bg: var(--bg3);

    --k-color-divider: #DCD3B7;

    @mixin apply-color($name, $base) {
      --k-color-#{$name}: #{$base};
      --k-color-#{$name}-shade: #{color.mix($base, #000, 90%)};
      --k-color-#{$name}-tint: #{color.mix($base, #fff, 80%)};
      --k-color-#{$name}-fade: #{color.adjust($base, $alpha: -0.9)};
    }
  
    @include apply-color(primary, #2aa198);
  }
}
