@use 'sass:color';

:root, .theme-root {
  &[theme=winter-dark] {
    --bg1: #021627;
    --bg2: #021627;
    --bg3: #021627;
    --bg4: #021627;
  
    --k-color-border: #5f7e97;

    @mixin apply-color($name, $base) {
      --k-color-#{$name}: #{$base};
      --k-color-#{$name}-shade: #{color.mix($base, #000, 80%)};
      --k-color-#{$name}-tint: #{color.mix($base, #fff, 90%)};
      --k-color-#{$name}-fade: #{color.adjust($base, $alpha: -0.9)};
    }
  
    @include apply-color(primary, #1FA0D5);
  }
}
